li {
  font-size: 1.2em;
  list-style: none;
}

.list_day > li {
  display: flex;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}
table td {
  width: 25%;
  height: 70px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1.2em;
}

table td:first-child {
  width: 10%;
}

ul a {
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: dodgerblue;
}

button {
  border: none;
  width: 100px;
  height: 50px;
  text-align: center;
  margin-left: 10px;
  line-height: 50px;
  background-color: darkcyan;
  border-radius: 7px;
  cursor: pointer;
}

button:disabled
{
  background-color: #999999;
}

.btn_del {
  background-color: firebrick;
}

.off {
  background-color: #ebebeb;
}

form {
  width: 400px;
  margin: 0 auto;
}

.input_area {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
}

.input_area > label {
  text-align: left;
}

.input_area > input,
.input_area > select {
  padding: 0;
  height: 40px;
}
